{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [
  {vernemq_dev, {git, "git://github.com/vernemq/vernemq_dev.git", {branch, "master"}}},
  {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {jsx, "2.9.0"}
%%  {lhttpc, "1.6.2"},
%%  {eini, "1.2.6"},
%%  {base16, "1.0.0"}
]}.

{shell, [
  {apps, [lager, myplugin]}
]}.
